.container {
  margin: auto;
  padding: 24px;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9fc;
}

.neon-header {
  margin-bottom: 20px;
}

.neon-title {
  font-size: 3rem;
  font-weight: 800;
  color: #09a6cd;
}
.HR {
  color: #ff8059;
}

/* Remove blur/shadow from card */
.card {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* subtle */
}

.card:hover {
  transform: translateY(-3px);
}

.card h2 {
  margin-bottom: 18px;
  color: #333;
  font-size: 22px;
  border-left: 4px solid #00bcd4;
  padding-left: 10px;
}

.form-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background: #fcfcfc;
}

.form-row button {
  padding: 12px 22px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.2s ease;
}

.form-row button:hover {
  background-color: #218838;
}

.employee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f9fc;
  padding: 14px 18px;
  border-radius: 10px;
  margin-bottom: 12px;
  border-left: 5px solid #6c63ff;
}
.employee-item p {
  color: #2c3e50;
}
.emp-name {
  font-weight: bold;
  font-size: 1.05rem;
  color: #2c3e50;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.delete-btn:hover {
  background-color: #c82333;
}

.search-bar {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.no-data {
  color: #888;
  text-align: center;
  font-style: italic;
}

.about-section p,
.blog-section ul {
  font-size: 0.96rem;
  line-height: 1.7;
  color: #333;
  margin-top: 10px;
}

.blog-section ul {
  list-style-type: none;
  padding-left: 0;
}

.blog-section li {
  margin-bottom: 16px;
  color: #444;
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

.hr-tip-marquee {
  overflow: hidden;
  margin-bottom: 20px;
  background: #e3f2fd;
  padding: 10px 0;
  border-radius: 8px;
}

.marquee-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 20s linear infinite;
  font-style: italic;
  font-size: 1rem;
  font-weight: 500;
  color: #0077b6;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
